html {
  height: 100%;
  font-family: sans-serif;
  overflow-x: auto;
  overflow-y: scroll;
}

body {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.light {
  border-radius: 100%;
  background: #222;
  margin: 10px;
}

.light::before {
  content: "";
  display: block;
  padding-top: 100%;
}

.light-strip.on .light:nth-child(1n + 3) {
  background: #41e8c1;
}

.f1-lights {
  display: flex;
  position: relative;
  width: 100%;
  max-width: 520px;
}

.light-strip {
  background: black;
  border-radius: 11px;
  margin: 0 2px;
  position: relative;
  flex: 1;
}

@media (min-width: 435px) {
  .light-strip {
    margin: 0 5px;
    border-radius: 14px;
  }
}

.back-board {
  position: absolute;
  left: 5px;
  right: 5px;
  top: 50%;
  height: 5%;
  background: #000;
  transform: translateY(-50%);
}

p {
  font-size: 22px;
  text-align: center;
  line-height: 1.4;
  margin: 1em;
  margin-bottom: 0;
  font-family: "Raleway Heavy";
}

.time {
  font-size: 90px;
  font-size: 12vw;
  line-height: 1;
  margin: 1rem;
  text-transform: uppercase;
  will-change: transform;
  text-align: center;
  font-family: "Oswald Light";
}

.time.anim {
  animation: bang 0.14s cubic-bezier(0.175, 0.885, 0.32, 1.275)
}

.best,
.credit {
  margin: 1%;
  font-size: 20px;
  text-align: center;
  line-height: 1.4;
  font-family: "Oswald Light";
}

.border {
  margin: 1rem;
  border: 1px solid #ada6a6;
  background: white;
  border-radius: 2em;
}

@keyframes bang {
  from {
    transform: scale(2.5);
  }
}

a:link {
  text-decoration: none;
}

/*
___
/ _ \
| / \ |
| \_/ |
\___/ ___
_|_|_/[_]\__==_
[---------------]
| O   /---\     |
|    |     |    |
|     \___/     |
[---------------]
     [___]
      | |\\
      | | \\
      [ ]  \\_
     /|_|\  ( \
    //| |\\  \ \
   // | | \\  \ \
  //  |_|  \\  \_\
 //   | |   \\
//\   | |   /\\
//  \  | |  /  \\
//    \ | | /    \\
//      \|_|/      \\
//        [_]        \\
//          H          \\
//           H           \\
//            H            \\
//             H             \\
//              H              \\
//                               \\
//                                 \\

Smile! You're beautiful!

*/
